@import './base.css';
@import './spriteBg.css';

/* 文本超出换行，显示省略号 */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cover-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: url(/src/assets/imgs/coverall.png) no-repeat;
}
